@using Dialect.Web.ViewModels
@model IEnumerable<Dialect.Model.ForumPost>
@{
    var user = Session["user"] as UserViewModel;
    var forumTitle = string.Empty;
    if (user != null)
    {
        forumTitle = user.UserForumName;
    }
}
<div style="margin: 20px;margin-left: 0; font-size: 16px;">
 @Html.ActionLink("发帖", "NewPost", "Forum")   
</div>

<div class="posts-wrap">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            if (string.IsNullOrEmpty(item.Content) || string.IsNullOrEmpty(item.Title))
            {
                continue;
            }
            <div class="post-item-box">
                <div class="post-header-wrap">
                    <div class="user-photo">
                        <img src="~/Content/images/touxiang.png" class="tx-photo"/>
                    </div>
                    <div class="user-info">
                        <p style="font-size: 16px;">
                            @Html.ActionLink(item.Title, "Index", "ForumPost", new {id = item.Id}, null)
                        </p>
                        <p style="color: #8c8c8c;">
                            @item.UserName @item.CreateDate.ToString("MM-dd HH:mm")
                            @if (item.ReplyCount > 0)
                            {
                                <span class="numb msg"><i></i>@item.ReplyCount</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
<style>
    .numb {
    float: right;
    _display: inline-block;
    font-size: 12px;
    height: 18px;
    margin-bottom: 3px;
    margin-left: 10px;
}
.numb i {
    display: inline-block;
    margin: -2px 4px 0;
    background: url(/Content/images/invitation.png) 0 0 no-repeat;
    vertical-align: middle;
}
.numb.msg i {
    width: 16px;
    height: 11px;
    background-position: -3px -12px;
}
</style>
