@using Dialect.Web.ViewModels
@model IEnumerable<Dialect.Model.ForumPost>
@{
    var user = Session["user"] as UserViewModel;
    var forumTitle = string.Empty;
    if (user != null)
    {
        forumTitle = user.UserForumName;
    }
}
<div style="margin: 20px;margin-left: 0;">
 @Html.ActionLink("发帖", "NewPost", "Forum")   
</div>

<div class="posts-wrap">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            if (string.IsNullOrEmpty(item.Content))
            {
                continue;
            }
            <div class="post-item-box">
                <div>
                    @{
                        var linkText = string.IsNullOrEmpty(item.Title) ? (item.Content.Length <= 10 ? item.Content : item.Content.Substring(0, 10)) : item.Title;

                        if ((item.ReplyCount ?? 0) > 0)
                        {
                            linkText += " (" + item.ReplyCount + ")";
                        }
                    }
                    @Html.ActionLink(linkText, "Index", "ForumPost", new {id = item.Id}, null)

                </div>
                <div>
                    @Html.Raw(item.Content)
                </div>
                <div>
                    @item.UserName @item.CreateDate
                </div>
            </div>
        }
    }
</div>
