@using Dialect.Web.ViewModels
@model PostObjectViewModel
@{
    ViewBag.Title = "发帖";
}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <section>
            @using (Html.BeginForm("NewPost", "Forum",FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>发帖</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control long-size" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.HiddenFor(m => m.Content)
                        <div id="summernote"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="提交" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            function sendFile(file) {
                var data = new FormData();
                data.append("file", file);
                console.log(file);
                console.log(data);
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "/UpLoad/UpLoadFile",
                    cache: false,
                    contentType: false,
                    processData:false,
                    success: function (re) {
                        var imagepath = "/upload/" + re.url;
                        $("#summernote").summernote('insertImage', imagepath, re.url);
                    }
                });
            }

            $('#summernote').summernote({
                height: 300,
                toolbar: [
                   ['font', ['bold', 'underline', 'clear']],
                   ['color', ['color']],
                   ['insert', ['link', 'picture', 'video']]
                ],
                callbacks: {
                    onImageUpload: function (files) {
                        sendFile(files[0]);
                    },
                    onChange: function (contents) {
                        $("input[name='Content']").val(contents);
                        console.log(contents);
                    }
                }
            });
        });
    </script>
}