@model Dialect.Web.ViewModels.ForumPostViewModel
<div style="margin: 20px;margin-left: 0;">@Html.ActionLink("返回", "Index", "Forum")</div>
<div class="post-box">
    <div>
        <b>@Model.ForumPost.Title</b>
    </div>
    <div style="margin-bottom: 20px;">
        @Model.ForumPost.UserName  @Model.ForumPost.CreateDate
    </div>
    <div>
        @Html.Raw(Model.ForumPost.Content)
    </div>

</div>
<div class="reply-wrap">
    @if (Model.PostReplies.Any())
    {
        foreach (var item in Model.PostReplies)
        {
            <div class="reply-box">
                <div>
                    @item.UserName @item.CreateDate
                </div>
                <div>
                    @Html.Raw(item.Content)
                </div>
            </div>
        }
    }
</div>

<div class="row">
    <div class="col-md-12">
        <section>
            @using (Html.BeginForm("NewReply", "ForumPost", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>回复</h4>
                <hr/>
                @Html.HiddenFor(m => m.ReplyObjectViewModel.PostId);
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.ReplyObjectViewModel.Content,10,50, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ReplyObjectViewModel.Content, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="提交" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
